LOCAL_MYSQL_HOST=db
LOCAL_MYSQL_PORT=3306
LOCAL_MYSQL_USERNAME=root2
LOCAL_MYSQL_PASSWORD=example
LOCAL_MYSQL_DB=game_api_test

CLIENT_TOKEN=some_token

#for docker compose
MYSQL_ROOT_PASSWORD=example
MYSQL_USER=root2
MYSQL_PASSWORD=example
MYSQL_DATABASE=game_api_test
